/* CSS declarations go here */
.nav .profile-link {
    float:right;
}

.profile .container{
    width:80%;
    margin: 0 auto;
}
.profile .container .user-profile input {
    width:100%;
    clear: both;
    margin: 20px 0;
}
