<template name="Profile">
    <section class="profpic">
        <div id="profpicwrap">
            <img src="{{currentUser.profile.picture}}" alt="">
            <h1>Welcome {{currentUser.profile.name}}</h1>
        </div>
    </section>
    <section>
        <div class="container">
            <form class="user-profile">
                <input type="text" value="{{name}}" id="name" placeholder="Your name">
                <div class="row">
                    <div class="col-md-6"><input type="text" value="{{gender}}" id="gender" placeholder="Male/Female"></div>
                    <div class="col-md-6"><input type="text" value="{{birthdate}}" id="birthdate" placeholder="DDMMYYYY"></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><input type="text" value="{{industry}}" id="industry" placeholder="Your industry"></div>
                    <div class="col-md-6"><input type="text" value="{{occupation}}" id="occupation" placeholder="Your Occupation"></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><input type="text" value="{{education}}" id="education" placeholder="Your education level"></div>
                    <div class="col-md-6"><input type="text" value="{{location}}" id="location" placeholder="Your location"></div>
                </div>
                <div class="row">
                    <div class="col-md-6"><input type="text" value="{{religion}}" id="religion" placeholder="Your religion"></div>
                    <div class="col-md-6"><input type="text" value="{{income}}" id="income" placeholder="Your Income"></div>
                </div>
                <div class="selectize-input">
                    <input type="text" value="{{languages}}" id="languages" placeholder="Your languages (Comma-separated)">
                </div>
                <div class="selectize-input">
                    <input id="interests" value="{{interests}}" type="text" placeholder="Your interests (Comma-separated)">
                </div>
                <div>
                    <p>How would you like to participate?</p>
                    <div class="col-md-4"><span><input class="input-check" type="checkbox" {{online}} id="online" value="online">Online Survey</span></div>
                    <div class="col-md-4"><span><input class="input-check" type="checkbox" {{skype}} id="skype" value="skype">Skype Calls</span></div>
                    <div class="col-md-4"><span><input class="input-check" type="checkbox" {{offline}} id="offline" value="offline">Offline Meeting</span></div>
                </div>
            </form>
        </div>
    </section>
    <section class="next-survey">
        <h1><a href="{{ pathFor 'Survey' }}">Start your survey</a></h1>
    </section>
</template>