<template name="Reward">
    <section class="victory">
        <div id="ray-holder">
            <div id="tick"></div>
            <div id="rays"></div>
        </div>
        <h1>Survey complete!</h1>
    </section>
    <section class="reward-selection">
        <h2 id="reward-h2">Select a reward below</h2>
        <div class="money">
            <h2>RM10 cash</h2>
        </div>
        <div class="trial">
            <h2>3 months Fasspay trial</h2>
        </div>
    </section>
    <section class="client-promo">
        <h1>Fasspay</h1>
        <p>Fasspay allows anyone to use their smart device to accept card payments</p>
        <p>www.fasspay.com</p>
    </section>
    <section class="next-survey">
        <h1>Next survey</h1>
    </section>
</template>