<template name="Survey">
    <div class="container">
        <div class="fs-form-wrap" id="fs-form-wrap">
            <div class="fs-title">
                <h1>{{surveyName}}</h1>
            </div>
            <form id="myform" class="fs-form fs-form-full" autocomplete="off">
                <ol class="fs-fields">
                    <li data-input-trigger>
                        <label class="fs-field-label fs-anim-upper" for="q1" data-info="This will help us tailor your future questions">Does your business accept credit cards?</label>
                        <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
                            <span><input id="q1a" name="q1" type="radio" value="yes"/><label for="q1a" class="radio-yes">Yes</label></span>
                            <span><input id="q1b" name="q1" type="radio" value="no"/><label for="q1b" class="radio-no">No</label></span>
                        </div>
                    </li>
                    <li data-input-trigger>
                        <label class="fs-field-label fs-anim-upper" for="q2" data-info="We're interested in your expereince with them">Which payment provider do you use?</label>
                        <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
                            <span><input id="q2a" name="q2" type="radio" value="maybank"/><label for="q2a" class="radio-maybank">Maybank</label></span>
                            <span><input id="q2b" name="q2" type="radio" value="ambank"/><label for="q2b" class="radio-ambank">Ambank</label></span>
                            <span><input id="q2c" name="q2" type="radio" value="cimb"/><label for="q2c" class="radio-cimb">CIMB Bank</label></span>
                            <span><input id="q2d" name="q2" type="radio" value=""/><label for="q2d" class="radio-other"><input type="text" placeholder="Other"></label></span>
                        </div>
                    </li>
                    <li data-input-trigger>
                        <label class="fs-field-label fs-anim-upper" for="q3" data-info="What is the amount per transaction that you pay?">How much do you pay for using these providers?</label>
                        <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
                            <span><input id="q3a" name="q3" type="radio" value="2%"/><label for="q3a" class="radio-2">2%</label></span>
                            <span><input id="q3b" name="q3" type="radio" value="3%"/><label for="q3b" class="radio-3">3%</label></span>
                            <span><input id="q3c" name="q3" type="radio" value="4%"/><label for="q3c" class="radio-4">4%</label></span>
                            <span><input id="q3d" name="q3" type="radio" value=""/><label for="q3d" class="radio-other"><input type="text" placeholder="Other"></label></span>
                        </div>
                    </li>
                    <li data-input-trigger>
                        <label class="fs-field-label fs-anim-upper" for="q4" data-info="Feel free to be candid. Your answers are anonymized before release.">What difficulties do you have with your provider?</label>
                        <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
                            <span><input id="q4a" name="q4" type="radio" value="minimum"/><label for="q4a" class="radio-minimum">Minimum transaction fees</label></span>
                            <span><input id="q4b" name="q4" type="radio" value="expensive"/><label for="q4b" class="radio-expensive">Expensive fees</label></span>
                            <span><input id="q4c" name="q4" type="radio" value="fail"/><label for="q4c" class="radio-fail">High fail rate</label></span>
                            <span><input id="q4d" name="q4" type="radio" value=""/><label for="q4d" class="radio-other"><input type="text" placeholder="Other"></label></span>
                        </div>
                    </li>
                    <li data-input-trigger>
                        <label class="fs-field-label fs-anim-upper" for="q5" data-info="This will help us tailor your future questions">Do you believe sales will increase if you accept credit/debit cards everywhere?</label>
                        <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
                            <span><input id="q5a" name="q5" type="radio" value="yes"/><label for="q5a" class="radio-yes">Yes</label></span>
                            <span><input id="q5b" name="q5" type="radio" value="no"/><label for="q5b" class="radio-no">No</label></span>
                        </div>
                    </li>
                    <li data-input-trigger>
                        <label class="fs-field-label fs-anim-upper" for="q6" data-info="Feel free to be candid. Your answers are anonymized before release.">By how much?</label>
                        <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
                            <span><input id="q6a" name="q6" type="radio" value="10%"/><label for="q6a" class="radio-10">10%</label></span>
                            <span><input id="q6b" name="q6" type="radio" value="20%"/><label for="q6b" class="radio-20">20%</label></span>
                            <span><input id="q6c" name="q6" type="radio" value="30%"/><label for="q6c" class="radio-30">30%</label></span>
                            <span><input id="q6d" name="q6" type="radio" value=""/><label for="q6d" class="radio-other"><input type="text" placeholder="Other"></label></span>
                        </div>
                    </li>
                    <li data-input-trigger>
                        <label class="fs-field-label fs-anim-upper" for="q7" data-info="We've got something in store for you!">Will you be interested if we have a service which allows you to accept cards with your smartphone, with a lower charge and better security features?</label>
                        <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
                            <span><input id="q7a" name="q7" type="radio" value="yes"/><label for="q7a" class="radio-yes">Yes</label></span>
                            <span><input id="q7b" name="q7" type="radio" value="no"/><label for="q7b" class="radio-no">No</label></span>
                        </div>
                    </li>
                </ol><!-- /fs-fields -->
                <a href="/done"><button class="fs-submit" type="submit">Send answers</button></a>
            </form><!-- /fs-form -->
        </div><!-- /fs-form-wrap -->
    </div><!-- /container -->
</template>